<section id="about">
  <section class="hero">
    <div class="hero-content">
      <h1 class="inicio">Sobre mí</h1>
      <p class="hero-meta">Julio, 2025 &nbsp; | &nbsp; Por: Belén Álvarez Ruiz</p>
    </div>
  </section>
</section>

<section class="hero-body">
  <p>Mi nombre es Belen, soy estudiante de la Lic. en Comercialización. Este portfolio forma parte de una materia optativa donde exploramos <strong>el diseño web y desarrollo web</strong></p>
  <p>No vengo del mundo de la programación, pero durante esta cursada aprendí a utilizar muchas herramientas totalmente desconocidas para mí.</p>
  <p>Más allá del resultado técnico, lo que más valoro de esta experiencia es haberme animado a hacer algo completamente <strong>nuevo, con mucha prueba y error,</strong> y ver cómo se fue armando algo propio. </p>
</section>

<div class="info-boxes">
  <div class="info-box">
    <h3>Experiencia laboral</h3>
    <p>Actualmente soy pasante de producto en Grupo Omint.</p>
    <p>Me dedico principalmente a hacer análisis de benchmarking y de los atributos del servicio.</p>
  </div>
  <div class="info-box">
    <h3>Hard Skills</h3>
    <p>Manejo HTML, CSS, JS, SAP, SPSS, SQL (principiante).</p>
    <p>Paquete office.</p>
    <p>Ingles avanzado.</p>
  </div>
  <div class="info-box">
    <h3>Soft Skills</h3>
    <p>Comunicación efectiva. </p>
    <p>Capacidad para trabajar en equipo y colaborar.</p>
    <p>Gestión del tiempo y organización.</p>
    <p>Resiliencia ante desafíos.</p>
  </div>
</div>


