<section id="contact">
    <section class="hero">
    <div class="hero-content">
        <h1 class="inicio">Contacto</h1>
        <p class="hero-meta">Julio, 2025 &nbsp; | &nbsp; Por: Belén Álvarez Ruiz</p>
    </div>
</section>
</section>

<p class="tproyecto">¿Queres contactarme para un trabajo o colaboración? </p>
<p class="tproyecto"> <strong>¡Completá el formulario!</strong></p>
<section class="contacto">
    <form id="contact-form">
    <label for="name">Nombre:</label>
     <input type="text" id="name" name="name" required>

     <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Mensaje:</label>
    <textarea id="message" name="message" required></textarea>

    <button type="submit">Enviar</button>
    </form>
</section>

