<section id="home">
<section class="hero">
    <div class="hero-content">
        <h1 class="inicio">Bienvenido a mi portfolio</h1>
        <p class="hero-meta">Julio, 2025 &nbsp; | &nbsp; Por: Belén Álvarez Ruiz</p>
    </div>
</section>
</section>


<section class="hero-body">
<h3 class="thome">Una mirada a lo que fui trabajando en la materia</h3>
<p>Este espacio reúne los trabajos que realicé a lo largo de la cursada con <strong>JS, HTML y CSS.</strong> Vas a encontrar mis diseños que me ayudaron a aprender nuevas herramientas y explorar mi creatividad desde otro lugar.</p> 
<p> <strong>¡Gracias por visitar!</strong></p>
</section>
