<section id="projects">
<section class="hero">
    <div class="hero-content">
        <h1 class="inicio">Proyectos</h1>
        <p class="hero-meta">Julio, 2025 &nbsp; | &nbsp; Por: Belén Álvarez Ruiz</p>
    </div>
</section>

<h3 class="tproyecto">Te invito a navegar por mis 3 proyectos realizados con JavaScript </h3>

<section class="projects-grid">
  <div class="project-card" data-page="galeria" tabindex="0">
    <img src="assets/proyecto1.jpg" alt="Galería" />
    <h3>Proyecto 1</h3>
    <p>Diseño con grid y lightbox en JS.</p>
  </div>

  <div class="project-card" data-page="proyecto2" tabindex="0">
    <img src="assets/proyecto2.jpg" alt="Proyecto 2" />
    <h3>Proyecto 2</h3>
    <p>Lista de tareas con IndexedDB</p>
  </div>

  <div class="project-card" data-page="proyecto3" tabindex="0">
    <img src="assets/proyecto3.jpg" alt="Proyecto 3" />
    <h3>Proyecto 3</h3>
    <p>Calculadora interactiva</p>
  </div>
</section>