
<section class="hero">
    <div class="hero-content">
    <h1 class="inicio">Visitá NYC en segundos</h1>
     <p class="hero-meta">Julio, 2025 &nbsp; | &nbsp; Por: Belén Álvarez Ruiz</p>
     <p class="hero-meta1">Galería responsive con diseño en grid, carga dinámica de imágenes y efecto lightbox para vista ampliada. </p>
</section>

<section class="galeria"></section>

<div class="lightbox">
  <button class="lightbox-btn prev">Anterior</button>
  <img src="" alt="Imagen ampliada" class="lightbox-img">
  <button class="lightbox-btn next">Siguiente</button>
</div>

<button class="volver-proyectos" data-page="projects">← Volver a Proyectos</button>