<section class="hero">
    <div class="hero-content">
    <h1>¿Qué tenes que hacer hoy?</h1> </div>
    <p class="hero-meta">Julio, 2025 &nbsp; | &nbsp; Por: Belén Álvarez Ruiz</p>
    <p class="hero-meta1">Lista de tareas con IndexedDB </p>
</section>

<section class="hero-body">
    <div class="input-container">
    <input type="text" id="nuevaTarea" placeholder="Añade una nueva tarea...">
    <button id="agregar">Agregar</button>
    </div>
<ul class="lista-tareas" id="listaTareas">
    <li class="cargando">Cargando tareas...</li>
</ul>
<button class="volver-proyectos" data-page="projects">← Volver a Proyectos</button>
</section>

