<section class="hero">
<div class="hero-content">
    <h1>Calculadora interactiva</h1>
     <p class="hero-meta">Julio, 2025 &nbsp; | &nbsp; Por: Belén Álvarez Ruiz</p>
     <p class="hero-meta1">Realizá operaciones básicas </p>
</section>
<div class="proyecto3">
<div class="calculadora">
        <div class="visor">
            <span class="resultado"></span>
            <span class="input"></span>
        </div>
        <div class="botones">
            <button>+</button>
            <button>-</button>
            <button>*</button>
            <button>/</button>
            <button>%</button>
            <button>√</button>

            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>0</button>
            
            <button>AC</button>
            <button>CE</button>
            <button>=</button>
            <button>.</button>
        </div>
    </div>
    </div>
    <button class="volver-proyectos" data-page="projects">← Volver a Proyectos</button>